*{
    font-family: 'Josefin Sans', sans-serif;
}
.card .itemImage{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    
}
.costumeImage{
    border: 2px solid black;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    animation: changePosition 2s infinite;
    margin: 1em;
    align-self: center;
    
}
.costumeName{
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
}
.costumeImage:hover{
    transform: scale(1.1);
    transition: .2s ease-in;
}
.itemImage{
    border: solid 2px black;
    border-radius: 5px;
    height: 20%;
    width: 20%;
}
.itemContainer{
    display: flex;
}
.costumeDescription{
    text-align: center;
    margin-bottom: 2em;
    font-weight: 700;
}
.acc{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}
.danger{
    background: red;
    height: 30%;
    border-radius: 50%;
}
input{
    border-radius: 5px;
    display: flex;

}
/* 
  @keyframes changePosition{
      25%{
          transform: scale(1.1);
      }
      30%{
        transform: scale(1.2);
      }
      40%{
        transform: scale(1.1);
      }
      50%{
        transform: scale(1.2)
      }
      75%{
        transform: scale(1.1)
      }
  } */